<nav class="align-right">
    <a class="home" href="/logout">Click here to log out</a>
</nav>
<main>
    <header>
        <div class="titlecard-header">
            <h1 class="title">{{username}}'s Profile</h1>
        </div>
</header><br>
    <div class="view-decks">
        <a href="/yourpage/decks">View your decks</a> <br>
        <a href="/yourpage/folders">View my folders</a> <br>
        <a href="/publicdecks">Browse public decks</a>
    </div>
</main>
