<main>
    <header><br>Created on: {{dateCreated}}</header>
    <nav>
        <div class="align-right">
            <button type="submit" class="delete-deck" id="delete-deck">Delete this deck</button>
        </div>
        <a href="/yourpage/decks">Back to your decks</a>
    </nav>
</main>