<main>
    <header class="title">{{userName}}'s Folders</header>
    <p id="error" class="error-p" hidden>{{errorMessage}}</p>
    <div class="deck-page-content">     <!-- create folder -->
        <form action="/yourpage/folders" method="POST" id="create-folder-form" class="create-deck-form">
            <label for="foldernameInput">Folder name:</label>
            <input id="foldernameInput" type="text" name="foldernameInput" placeholder="2 - 40 characters long"><br>
            <button type="submit" class="submit-button">Create Folder</button>
        </form>
        <div class="deck-page-column">      <!-- decks in folder -->
            <ol id="folder-list" class="deck-list">
                {{#each folder}}
                    <li><a href="folders/{{this._id}}">{{this.name}}</a></li>
                {{/each}}
            </ol>
        </div>
    </div>
    <footer>
        <nav>
            <a href="/yourpage">Back to your profile</a>
        </nav>
    </footer>
</main>